* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333333;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #333333;
    color: #fff;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding: 20px 40px;
    border-radius: 6px;
    background-color: #DEDEDE;
    margin: 20px auto;
    transition: 100ms background-color linear;
}

.post-title {
    font-size: 2em;
    color: #222;
    margin: 0;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}

/* Hover States */
.post:hover {
    background-color: #CCC;
}

.post:hover .post-title a,
.post:hover .post-description {
    color: #666666;
}


@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 30% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

.pure-form button.submit-button {
	float: right;
	margin-bottom: 30px;
	background-color: #D60000;
}

form {
	margin-top: 60px;
	margin-left: 2em;
	margin-right: 2em;
}

textarea,
input {
	width: 100%;
	color: #444;
}
